
<body>


    <!-- Header -->
    <!-- Services Section -->
    <div id="content" data-spy="scroll">
        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">О нас</h2>
                        <h3 class="section-subheading text-muted">
                            Мы дружная и профессиональная команда, люди, любящие фитнес всей душой, стремящиеся постоянно расти и развиваться, всегда готовые поделиться с вами своими знаниями и опытом.
                            Вы можете посещать разнообразные фитнес программы в нашем зале в утреннее, дневное и вечернее время.
                            Приходите, и мы обязательно поможем Вам выбрать занятия, которые будут приносить Вам максимум пользы и удовольствия!
                        </h3>
                        <h4 class="service-heading">Фитнес клуб SportVita – это...</h4>
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col-md-3">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-thumbs-o-up fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Многообразие фитнес программ</h4>
                        <p class="text-muted"></p>
                    </div>
                    <div class="col-md-3">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Удобное расписание</h4>
                        <p class="text-muted"></p>
                    </div>
                    <div class="col-md-3">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-child fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Профессиональные инструкторы</h4>
                        <p class="text-muted"></p>
                    </div>
                    <div class="col-md-3">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Отличная цена</h4>
                        <p class="text-muted"></p>
                    </div>
                </div>
            </div>
        </section>

        <section id="services" class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Направления</h2>
                        <h3 class="section-subheading text-muted"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 services-item">
                        <a href="#1" class="services-link" data-toggle="modal">
                            <div class="services-hover">
                                <div class="services-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="~/Content/aerobics.jpg" class="img-responsive">
                        </a>
                        <div class="services-caption">
                            <h4>Аэробика</h4>
                            <p class="text-muted"> </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 services-item">
                        <a href="#2" class="services-link" data-toggle="modal">
                            <div class="services-hover">
                                <div class="services-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            @*<img src="img/services/startup-framework.png" class="img-responsive" alt="">*@
                        </a>
                        <div class="services-caption">
                            <h4>Силовой класс</h4>
                            <p class="text-muted"> </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 services-item">
                        <a href="#3" class="services-link" data-toggle="modal">
                            <div class="services-hover">
                                <div class="services-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            @*<img src="img/services/treehouse.png" class="img-responsive" alt="">*@
                        </a>
                        <div class="services-caption">
                            <h4>Zumba</h4>
                            <p class="text-muted"></p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 services-item">
                        <a href="#4" class="services-link" data-toggle="modal">
                            <div class="services-hover">
                                <div class="services-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            @*<img src="img/services/golden.png" class="img-responsive" alt="">*@
                        </a>
                        <div class="services-caption">
                            <h4>Пилатес</h4>
                            <p class="text-muted"></p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 services-item">
                        <a href="#5" class="services-link" data-toggle="modal">
                            <div class="services-hover">
                                <div class="services-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            @*<img src="img/services/escape.png" class="img-responsive" alt="">*@
                        </a>
                        <div class="services-caption">
                            <h4>Стретчинг</h4>
                            <p class="text-muted"></p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 services-item">
                        <a href="#6" class="services-link" data-toggle="modal">
                            <div class="services-hover">
                                <div class="services-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            @*<img src="img/services/dreams.png" class="img-responsive" alt="">*@
                        </a>
                        <div class="services-caption">
                            <h4>Port de Bras</h4>
                            <p class="text-muted"></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="schedule">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Расписание</h2>
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                @if (Request.IsAuthenticated)
                                {
                                    <div class="editable" id="body-8">

                                    </div>
                                    <button type="button" class="btn btn-success modalSave" data-dismiss="modal" id="button-8">Save</button>

                                }
                                else
                                {
                                    <div id="body-8">

                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section id="team">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Инструкторы</h2>
                        <h3 class="section-subheading text-muted"></h3>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-sm-4">
                        <div class="team-member">
                            <div class="col-lg-8 col-lg-offset-2">
                                @if (Request.IsAuthenticated)
                                {
                                    <div class="editable" id="body-12">

                                    </div>
                                    <button type="button" class="btn btn-success modalSave" data-dismiss="modal" id="button-12">Save</button>

                                }
                                else
                                {
                                    <div id="body-12">

                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="team-member">
                            <div class="col-lg-8 col-lg-offset-2">
                                @if (Request.IsAuthenticated)
                                {
                                    <div class="editable" id="body-11">

                                    </div>
                                    <button type="button" class="btn btn-success modalSave" data-dismiss="modal" id="button-11">Save</button>

                                }
                                else
                                {
                                    <div id="body-11">

                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="team-member">
                            <div class="col-lg-8 col-lg-offset-2">
                                @if (Request.IsAuthenticated)
                                {
                                    <div class="editable" id="body-9">

                                    </div>
                                    <button type="button" class="btn btn-success modalSave" data-dismiss="modal" id="button-9">Save</button>

                                }
                                else
                                {
                                    <div id="body-9">

                                    </div>
                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="price">
            <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Цены</h2>
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            @if (Request.IsAuthenticated)
                            {
                                <div class="editable" id="body-7">

                                </div>
                                <button type="button" class="btn btn-success modalSave" data-dismiss="modal" id="button-7">Save</button>

                            }
                            else
                            {
                                <div id="body-7">

                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>
            </div>
        </section>
    </div>
    <div class="services-modal modal fade" id="1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="modal-header">
                    @if (Request.IsAuthenticated)
                    {
                        <h2 class="editable" id="header-1"></h2>
                    }
                    else
                    {
                        <h2 id="header-1"></h2>
                    }
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">

                            @if (Request.IsAuthenticated)
                            {
                                <div class="editable" id="body-1">

                                </div>
                            }
                            else
                            {
                                <div id="body-1">

                                </div>
                            }
                            <button type="button" class="btn btn-success modalSave" data-dismiss="modal" id="button-1">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="services-modal modal fade" id="2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="modal-header">
                    @if (Request.IsAuthenticated)
                    {
                        <h2 class="editable" id="header-2"></h2>
                    }
                    else
                    {
                        <h2 id="header-2"></h2>
                    }
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">

                            @if (Request.IsAuthenticated)
                            {
                                <div class="editable" id="body-2">

                                </div>
                            }
                            else
                            {
                                <div id="body-2">

                                </div>
                            }
                            <button type="button" class="btn btn-success modalSave" data-dismiss="modal" id="button-2">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="services-modal modal fade" id="3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="modal-header">
                    @if (Request.IsAuthenticated)
                    {
                        <h2 class="editable" id="header-3"></h2>
                    }
                    else
                    {
                        <h2 id="header-3"></h2>
                    }
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">

                            @if (Request.IsAuthenticated)
                            {
                                <div class="editable" id="body-3">

                                </div>
                            }
                            else
                            {
                                <div id="body-3">

                                </div>
                            }
                            <button type="button" class="btn btn-success modalSave" data-dismiss="modal" id="button-3">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="services-modal modal fade" id="4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="modal-header">
                    @if (Request.IsAuthenticated)
                    {
                        <h2 class="editable" id="header-4"></h2>
                    }
                    else
                    {
                        <h2 id="header-4"></h2>
                    }
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">

                            @if (Request.IsAuthenticated)
                            {
                                <div class="editable" id="body-4">

                                </div>
                            }
                            else
                            {
                                <div id="body-4">

                                </div>
                            }
                            <button type="button" class="btn btn-success modalSave" data-dismiss="modal" id="button-4">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="services-modal modal fade" id="5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="modal-header">
                    @if (Request.IsAuthenticated)
                    {
                        <h2 class="editable" id="header-5"></h2>
                    }
                    else
                    {
                        <h2 id="header-5"></h2>
                    }
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">

                            @if (Request.IsAuthenticated)
                            {
                                <div class="editable" id="body-5">

                                </div>
                            }
                            else
                            {
                                <div id="body-5">

                                </div>
                            }
                            <button type="button" class="btn btn-success modalSave" data-dismiss="modal" id="button-5">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="services-modal modal fade" id="6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="modal-header">
                    @if (Request.IsAuthenticated)
                    {
                        <h2 class="editable" id="header-6"></h2>
                    }
                    else
                    {
                        <h2 id="header-6"></h2>
                    }
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">

                            @if (Request.IsAuthenticated)
                            {
                                <div class="editable" id="body-6">

                                </div>
                            }
                            else
                            {
                                <div id="body-6">

                                </div>
                            }
                            <button type="button" class="btn btn-success modalSave" data-dismiss="modal" id="button-6">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalEnroll" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Анкета</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group col-md-offset-4">
                        <input type="text" id="FIOenRoll" class="form-control" style="border-radius: 4px" placeholder="ФИО" aria-describedby="basic-addon1">
                    </div>
                    <br />
                    <div class="input-group col-md-offset-4">
                        <input type="tel"  id="MobilenRoll" class="form-control" style="border-radius: 4px" placeholder="Номер телефона" aria-describedby="basic-addon1">
                    </div>
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" id="enRollButton" class="btn btn-primary">Записаться</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalError" tabindex="-1" role="dialog" aria-labelledby="myModalLabelError">
   
</div>
</body>

<script>
    $(document).ready(function() {

        $.post(
            '@Url.Action("GetInformationBody", "Information")',
            {
                id: 7
            },
            function(result) {
                $("#body-7").html(result);
              
            });
        $.post(
          '@Url.Action("GetInformationBody", "Information")',
          {
              id: 8
          },
          function (result) {
              $("#body-8").html(result);

          });
        $.post(
          '@Url.Action("GetInformationBody", "Information")',
          {
              id: 9
          },
          function (result) {
              $("#body-9").html(result);

          });
        $.post(
          '@Url.Action("GetInformationBody", "Information")',
          {
              id: 10
          },
          function (result) {
              $("#body-10").html(result);

          });

        $.post(
          '@Url.Action("GetInformationBody", "Information")',
          {
              id: 11
          },
          function (result) {
              $("#body-11").html(result);

          });
        $.post(
         '@Url.Action("GetInformationBody", "Information")',
         {
             id: 12
         },
         function (result) {
             $("#body-12").html(result);

         });
    });
      
    $("#enRollButton").click(function () {
        var check = true;
        if ($('#FIOenRoll').val().length == 0)
            check = false;
        if ($('#MobilenRoll').val().length == 0)
            check = false;
        if (check == true)
            $.post(
                '@Url.Action("AddNotation","Notation")',
                {
                    name: $('#FIOenRoll').val(),
                    number:$('#MobilenRoll').val()
                },
                function() {
                    $("#modalEnroll").modal("hide");
                }
            );
        else {

            $("#modalError").modal("show");

        }
    });
</script>

<script>

    var elements = [$("#navbar"), $('#about'), $('#services'), $('#schedule'), $('#team'), $('#price')];
    var elementsScroll = [$("#hidden"), $('#aboutScroll'), $('#servicesScroll'), $('#scheduleScroll'), $('#teamScroll'), $('#priceScroll')];
    var activeElement = 0;
    var enable = true;
    var newActiveElement = 0;
    var navbar = $("#navbar");
    $(window).scroll(function() {
        var w = $(this);
        elements.forEach(function(item, i, elements) {
            if (w.scrollTop() > (item.offset().top - w.height() + 4 * navbar.height())) {
                newActiveElement = i;
            }
        });
        if (activeElement != newActiveElement)
            enable = true;
        console.log(activeElement + "\n" + newActiveElement + "\n" + enable);

        if (enable == true) {
            for(var i = 0;i< elementsScroll.length;i++){
                elementsScroll[i].removeClass("active");
            }
            elementsScroll[newActiveElement].addClass("active");
            enable = false;
            activeElement = newActiveElement;
        }
    });
</script>

@if (Request.IsAuthenticated)
{
    <script>
        tinymce.init({
            selector: 'h2.editable',
            inline: true,
            toolbar: 'undo redo',
            menubar: false
        });

        tinymce.init({
            selector: 'div.editable',
            inline: true,
            plugins: [
              'advlist autolink lists link image charmap print preview anchor',
              'searchreplace visualblocks code fullscreen',
              'insertdatetime media table contextmenu paste'
            ],
            toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image'
        });

    </script>
    <script>
        var save = false;
        $('.modalSave').click(function(e) {

            var elements = e.currentTarget.id.split('-');
            var header2 = $("#header-" + elements[1]).html();
            var body2 = $("#body-" + elements[1]).html();
            var res = "";
            while (true) {
                res = body2.replace("<", "#%^").replace(">", "#&*");
                if (res.localeCompare(body2) == 0)
                    break;
                body2 = res;
            }
            if (parseInt(elements) <= 6) {
                $.post(
                    '@Url.Action("SetInformationHeader", "Information")',
                    {
                        id: elements[1],
                        header: header2
                    }
                );
            }
            $.post(
                '@Url.Action("SetInformationBody", "Information")',
                {
                    id: elements[1],
                    bodyText: body2
                }
            );
        });

    </script>
}
<script>
        $('.services-modal').on('show.bs.modal', function (e) {
            $.post(
                '@Url.Action("GetInformationHeader", "Information")',
                {
                    id: e.currentTarget.id
                },
                function (result) {
                    console.log("#header-" + e.currentTarget.id);
                    $("#header-" + e.currentTarget.id).html(result);
                }
            );
            $.post(
                '@Url.Action("GetInformationBody", "Information")',
                {
                    id: e.currentTarget.id
                },
                function (result) {
                    $("#body-" + e.currentTarget.id).html(result);
                }
            );
        });

</script>